@model List<BaseballBandit.Models.Inventory>
@using BaseballBandit.Classes
@{
    ViewData["Title"] = "Cart Page";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Failed </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <strong>Success </strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
@if(Model.Count != 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Brand
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Unit Price
                </th>
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Model[i].Name
                    </td>
                    <td>
                        @Model[i].Brand
                    </td>
                    <td>
                        @CartClass.Quantity[i]
                    </td>
                    <td>
                        @Model[i].ProductPrice
                    </td>
                    <td>
                        <a class="btn btn-danger" href="@Url.Action("RemoveFromCart", "Home", new {ProductId = Model[i].ProductId})">Remove</a>
                        <a class="btn btn-danger" href="@Url.Action("RemoveAllFromCart", "Home", new {ProductId = Model[i].ProductId})">Remove All</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h1>Subtotal: @Math.Round(CartClass.SubTotal, 2)</h1>
    <h4>Number of Items: @CartClass.NumItems</h4>
    <a class="btn btn-primary" href="@Url.Action("FinalizeOrder", "Home", new {SubTotal = Math.Round(CartClass.SubTotal,2)})">Place Order</a>
}
else
{
    <h3 style="text-align:center">It looks like nothing is in your cart</h3>
    <h5 style="text-align:center">Add products to your cart through the home page</h5>
}