@model List<BaseballBandit.Models.Inventory>
@{
    ViewData["Title"] = "Home Page";
    var errorMessage = TempData["errorMessage"]?.ToString();
    var successMessage = TempData["successMessage"]?.ToString();
}
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Failed </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <strong>Success </strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Welcome To Baseball Bandits</h1>
</div>
<hr />
<br />
<div class="container text-center">
    @for(int i = 0; i < Model.Count(); i+=2)
    {
        <div class="row">
            <div class="col">
                <div>
                    <a href="@Url.Action("ProductPage", "Home", new{ ProductId = Model[i].ProductId})"><img src="/images/@Model[i].ImagePath" width="200" height="200"></a>
                </div>
                <br />
                <div>
                    <b>@Model[i].Brand @Model[i].Name</b>
                    <br />
                    @Model[i].ProductPrice
                </div>
                    @if (BaseballBandit.Classes.User.Admin != true && BaseballBandit.Classes.User.Seller != true)
                    {
                        <div>
                            <a class="btn btn-sm btn-primary" href="@Url.Action("AddToCart", "Home", new {ProductId = Model[i].ProductId})">Add To Cart</a>
                        </div>
                    }
                <br />
                <br />
            </div>
            @if(i+1 >= Model.Count())
            {
                break;
            }
            else if(i+1 == Model.Count())
            {
                continue;
            }
            else
            {
                <div class="col">
                    <div>
                        <a href="@Url.Action("ProductPage", "Home", new{ ProductId = Model[i+1].ProductId})"><img src="/images/@Model[i+1].ImagePath" width="200" height="200"></a>
                    </div>
                    <br />
                    <div>
                        <b>@Model[i + 1].Brand @Model[i + 1].Name</b>
                        <br />
                        @Model[i + 1].ProductPrice
                    </div>
                    @if(BaseballBandit.Classes.User.Admin != true && BaseballBandit.Classes.User.Seller != true)
                    {
                        <div>
                            <a class="btn btn-sm btn-primary" href="@Url.Action("AddToCart", "Home", new {ProductId = Model[i + 1].ProductId})">Add To Cart</a>
                        </div>
                    }
                    <br />
                    <br />
                </div>
            }
        </div>
    }
</div>

